@import '../../styles/custom-properties.scss';
@import '../../styles/custom-media.scss';

.about {
  text-align: center;
}
.about > p {
  text-align: justify;
  font-size: medium;
}
.figure {
  float: right;
  text-align: right;
  width: 40%;
  max-width: 250px;
  margin-left: 1rem;
}

.figure > img {
  border-radius: 1rem;
}
.butterflyWrapper {
  width: 100vw;

  height: auto;
}
.flier {
  width: $butterfly-width;
  animation: fly 10s linear infinite;
}

@keyframes fly {
  0% {
    transform: translateX($butterfly-width);
  }

  98% {
    transform: translateX(1000vw);
  }

  100% {
    transform: translateX($butterfly-width);
  }
}
