@import '../../styles/custom-properties.scss';
@import '../../styles/custom-media.scss';

.about {
  text-align: center;
}
.about > p {
  text-align: justify;
  font-size: medium;
}
.figure {
  float: right;
  text-align: right;
  width: 40%;
  max-width: 250px;
  margin-left: 1rem;
}

.figure > img {
  border-radius: 1rem;
}
// .butterflyWrapper {
//   width: 100vw;
//   margin: 0;
//   position: fixed;
//   left: 0;
//   bottom: $footer-height;

//   height: auto;
// }
.flier {
  position: fixed;
  left: 0;
  bottom: 0;
  width: $butterfly-width;
  animation: fly 10s linear infinite;
}

@keyframes fly {
  0% {
    transform: translate(0);
  }

  10% {
    transform: translate(10vw, -10vh);
  }
  19% {
    transform: translate(19vw, -21vh);
  }
  20% {
    transform: translate(20vw, -20vh);
  }

  30% {
    transform: translate(30vw, -30vh);
  }
  39% {
    transform: translate(39vw, -41vh);
  }
  40% {
    transform: translate(40vw, -40vh);
  }
  49% {
    transform: translate(49vw, -51vh);
  }
  50% {
    transform: translate(50vw, -50vh);
  }

  60% {
    transform: translate(60vw, -60vh);
  }
  69% {
    transform: translate(69vw, -71vh);
  }
  70% {
    transform: translate(70vw, -70vh);
  }
  75% {
    transform: translate(75vw, -72vh);
  }
  80% {
    transform: translate(80vw, -80vh);
  }

  90% {
    transform: translate(90vw, -90vh);
  }
  95% {
    transform: translate(95vw, -97vh);
  }
  100% {
    transform: translate(100vw, -100vh);
  }
}
