@import '../../styles/custom-properties.css';

.about {
  text-align: justify;
}
.about > p {
  font-size: medium;
}
.figure {
  float: right;
  text-align: right;
  width: 40%;
  max-width: 250px;
  margin-left: 1rem;
}

.figure > img {
  border-radius: 1rem;
}
