@import '../../styles/custom-media.scss';

.parallaxHome {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url('../../media/yellowEchinacea.jpg');
  height: auto;
  min-height: 120vh;
  width: 100%;
  padding: 2vh 0;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallaxHome > div {
  align-self: flex-end;
  text-align: center;
  width: 45%;
  max-width: 450px;
  border-radius: 10px 0 0 10px;
  background: linear-gradient(
    to left,
    #ffffff,
    rgba(255, 255, 255, 0.9) 10%,
    rgba(255, 255, 255, 0.9) 50%,
    rgba(255, 255, 255, 0.9) 90%,
    #fff 100%
  );
  padding: 2vh 10px;
}

.parallaxHome > div:nth-child(odd) {
  align-self: flex-start;
  border-radius: 0 10px 10px 0;
}
.tabText {
  font-size: calc(14px + 1vw);
}
.blinking {
  color: black;
  animation: blink 1.5s linear infinite;
  font-style: italic;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.readMore {
  color: var(--nnn-green);
}
@media screen and (max-width: $breakpoint-small) {
}
