@import '../../styles/custom-properties.scss';
@import '../../styles/custom-media.scss';

.contactGrid {
  display: grid;
  grid-template-columns: 275px 4vw auto;
  grid-template-rows: 2vh auto auto 4vw auto;
  grid-template-areas:
    '    .    .     .'
    'address  .   form'
    'address  .   form'
    '   hr    hr   hr'
    'pic     pic  pic';
  text-align: left;
}

.pic {
  grid-area: pic;
}
.form {
  grid-area: form;
}
.address {
  grid-area: address;
}
.hr {
  grid-area: hr;
  visibility: hidden;
  width: 100%;
}

.nameEmailRow {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.nameEmailInput {
  width: 48%;
  margin-bottom: 1rem;
}
.textArea {
  width: 100%;
  margin-bottom: 1rem;
}
.contactButton {
  @include autoButton;
}

@media screen and (max-width: $breakpoint-medium) {
  .contactGrid {
    grid-template-columns: 200px 4vw auto;
    grid-template-rows: 2vh auto auto auto auto;
    grid-template-areas:
      '.       .     .'
      'form    form    form'
      'hr      hr      hr'
      'pic     pic     pic'
      'address address address';
  }
  .responsiveTitle {
    display: none;
  }
  .nameEmailRow {
    flex-direction: column;
    // justify-content: flex-start;
  }
  .nameEmailInput {
    width: 100%;
  }
  .hr {
    visibility: visible;
  }
}
