@import '../styles/custom-properties.scss';
@import '../styles/custom-media.scss';
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

body,
html {
  font-family: 'Comfortaa', cursive, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;

  color: var(--normal-font-color);
  text-align: center;
  overflow-x: hidden;
}

.App {
  max-width: 100vw;
  min-height: 100vh;
  margin-bottom: -$footer-height;
}
.active {
  background-color: var(--light-gray);
}

.push {
  height: $footer-height;
}
@media screen and (max-width: $breakpoint-small) {
}
