@import '../../styles/custom-media.scss';

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2vh 0;
  z-index: 999;
  height: $footer-height;
}
.address {
  align-self: center;
  color: var(--nnn-orange);
}
.followUs {
  display: flex;
  justify-content: space-between;
  width: 70%;
  max-width: 600px;
  padding: 2vh 0 1vh;
  font-size: 36px;
  color: var(--nnn-orange);
}
.copyright {
  align-self: center;
  font-size: small;
}
@media screen and (max-width: $breakpoint-medium) {
  .followUs {
    padding: 2vh 10% 1vh;
  }
  .copyright {
    font-size: smaller;
  }
}
